##############################
## Folders                  ##
##############################
.laya
chrome
 
##############################
## Netbeans conf            ##
##############################
